body {
	background: $white !important;
}

body, p, div, span, td, th, label, input, select, option, textarea, sup, sub, ul, ol, li {
	font-family: "Source Sans Pro", "Roboto Slab", arial, sans-serif !important;
	font-size: 16px !important;
	line-height: 24px !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Source Sans Pro" !important;
	font-weight: 700 !important;
	margin-bottom:10px !important;
}

h1 {
	font-size: 2.3125rem !important;
	line-height: 2.3125rem !important;
}
h2 {
	font-size: 2.0625rem !important;
	line-height: 2.0625rem !important;
}
h3 {
	font-size: 2rem !important;
	line-height: 2rem !important;
}
h4 {
	font-size: 1.9375rem !important;
	line-height: 1.9375rem !important;
}
h5 {
	font-size: 1.875rem !important;
	line-height: 1.875rem !important;
}
h6 {
	font-size: 1.8125rem !important;
	line-height: 1.8125rem !important;
}

.wlp-bighorn-layout-grid {
	margin-bottom: 0;
}

.wlp-bighorn-layout td {
	padding: 0;
}

.wlp-bighorn-page {
	  position: relative;
		width: 1170px;
		height: auto;
		padding: 0;
}

.wlp-bighorn-book-content {
	background: transparent !important;
	width: 1170px !important;
	padding-top: 40px;
	padding-bottom: 40px;
	height: auto;
	min-height: auto;
}

.wlp-bighorn-book-content .wlp-bighorn-theme-borderless .wlp-bighorn-window {
	margin-left: 0;
	margin-right: 0;
}

@media screen and (max-width: 1169px) {
	.wlp-bighorn-book-content {
		width:100% !important;
		padding: 15px;
	}
}


