html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  } 

body {
	background: $white !important;
	border-box: border-box; 
}

body, p, div, span, td, th, label, input, select, option, textarea, sup, sub, ul, ol, li {
	font-family: "Source Sans Pro", "Roboto Slab", arial, sans-serif !important;
	font-size: 16px !important;
	line-height: 24px !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Source Sans Pro" !important;
	font-weight: 700 !important;
	margin-bottom:10px !important;
}

h1 {
	font-size: 2.3125rem !important;
	line-height: 2.3125rem !important;
}
h2 {
	font-size: 2.0625rem !important;
	line-height: 2.0625rem !important;
}
h3 {
	font-size: 2rem !important;
	line-height: 2rem !important;
}
h4 {
	font-size: 1.9375rem !important;
	line-height: 1.9375rem !important;
}
h5 {
	font-size: 1.875rem !important;
	line-height: 1.875rem !important;
}
h6 {
	font-size: 1.8125rem !important;
	line-height: 1.8125rem !important;
}

.btn { 
		background: #189bb0;
		background-image: none;
		padding:10px;
		color: #ffffff;
		text-transform: uppercase;
		height: auto;
		cursor: pointer;
		font-size: 14px;
		font-family: "Source Sans Pro", "Roboto Slab", arial, sans-serif; 
		font-weight: 600;
		border: none;
		border-radius: 4px;
		margin-right: 7px;
		width:100%;
	}

.wlp-bighorn-layout-grid {
	margin-bottom: 0;
}

.wlp-bighorn-layout td {
	padding: 0;
}

.wlp-bighorn-page {
		width: 1170px;
		height: auto;
		padding: 0;
}

.wlp-bighorn-book-content {
	background: transparent !important;
	max-width: 1170px !important; 
	width:100%;
	z-index: 10; 
	
}

#Breadcrumb_1, #Breadcrumb_2 {
	#breadcrumb {
		margin: 0;
		height: auto;
		a {
			font-size: inherit; 
		}
	}
}

.wlp-bighorn-book-content .wlp-bighorn-theme-borderless .wlp-bighorn-window {
	margin-left: 0;
	margin-right: 0;
}

.spgcontent {
	padding: 60px 0;
}

.wlp-bighorn-page {
	.AccordionTitle, .menuheader.expandable {
		height: auto;  
		background: $white;
		font-size: 16px;
		color: #1a9cb1;
		text-transform: uppercase ;
		font-weight: 700;
		border-top: solid 4px #d4d4d4;
		margin: 0;
		padding-top: 28px;
		padding-bottom: 28px; 
		width: 100%; 
	}

	.AccordionContainer {
		background: transparent; 
		width: 100%;  
		.categoryitems {
			border-top: 2px solid #eaeaea;
			padding: 10px;
		}
		
	}

	
}
@media screen and (max-width: 1169px) {
	.wlp-bighorn-book-content {
		width:100% !important;
		padding: 15px;
	}
}


