.dashboardBG, #ARC_MigrateTool {
		//background: #f7f7f7 no-repeat; 
		position: relative; 
		background-size: cover;
		background-position:center center; 
		padding: 40px;
		
		&:before {
			//display: none; 
		}
		
		h2.yourAcct {
			color: #ffffff;  
		}
		
		.pendingRequests {
			margin-right: 50px !important; 
		}
		
		/*.wlp-bighorn-book-content, .wlp-bighorn-page {
			width: 100%;
			max-width: 100% !important;
		}*/
		
		.wlp-bighorn-book-content {
			background: #f6f6f6 !important; 
			position: relative;
		}
		
		#alertTopBorder  {
			border-top: 0;
			width: 100%;
			h1 img {display: none; }
		}
		
		#portletCol table {
			width: 100%; 
		}
		
		.portletBgAll {
			margin:0 10px 20px 10px;
			background: #ffffff;
			width: auto; 
			border: 1px solid #d4d4d4;
		}
		
		.portletBgTop {
			background: #ffffff;
			border: none;  
			border-top: solid 4px #306879;
			color: #1a9cb1;
			border-radius: 0; 
			width: auto; 
			height: auto;
			font-size: 18px !important;
			font-weight: 700; 
			padding: 15px 20px 0px 20px;
		}
		 
		.portletBgMid {
			padding: 15px 20px;
			border: none;
			width: 100%; 
		}
		
		.portletBgBotLess, #leftNavBot {
			display: none;
			width: 100%;
		}
		
		#myARCleftNavTop {
			background: $white; 
		}
		
		#lowerLeftColumn {
			height: auto !important; 
		}
		
		#myARCleftNavTop {
			padding: 0; 
		}
		
		#leftNav {
			border-radius: 0;
			background: transparent;
			width: 100%; 
		}
		
		#myARCleftNavTop {
			width: 100%; 
		}
		
		#leftCol {
			width: 100%; 
		}
		
		.wlp-bighorn-window-content {
			width: 100% !important;
		} 
		
		.accountInfo {
			padding: 20px !important; 
			background: #189bb0;
			
		}
		
		.openheadermyARC, .AccordionTitle {
			background: #ffffff;  
			width: 100%; 
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
		.wlp-bighorn-layout {
			height: 100%;
		}
		
		#dashboardSidebar {
			height: 100%; 
			padding: 0 !important;
			
			.wlp-bighorn-theme + .wlp-bighorn-theme {
				display: none; 
			}
			
			.wlp-bighorn-theme-borderless {
				background: #ffffff; 
				//height: 100%; 
				margin-right: 20px;  
				margin-top: 14px;
				border: 1px solid #d4d4d4; 
			}
			
		}
		
	.txtyrAcct {
		color: #ffffff;
		
		span {
			color: #ffffff !important; 
			font-weight:bold;
		}
		a {
			color: #ffffff !important;
		}
	}
		
}
	 
#ARC_Home {
	position:relative; 
	background: #f7f7f7; 
	height: 100%; 
	padding: 40px; 
	
	#myARCleftNavTop .accountInfo a {
		padding-left: 0;
	}
	
	#Promos_2 {
		display: none;
	}
	#leftCol, #rightCol {
		position: relative;
	}
	
	#portletCol {
		position: relative;
		/*table, td, tr {
			display: block;
		}
		[width="37%"] {
			width: 100%;
		}*/
	}
	
	#AMMNotification_1, #AMMNotification_2, #AMMNotification_3, #AMMNotification_4, #AMMNotification_5 {
		.portletBgBot {
			width: auto;
			height: auto;
			background: none;
			select {
				height: auto !important;
				width: auto !important;
			}
		}
	}
	
	.AccordionTitle {
		.thickbox { 
			text-transform: capitalize; 
			font-size: 11px !important;
		}
		div {
			color: #189bb0 !important;
		}
	}
	
	.AccordionContainer {
		a, a span {
			color: #189bb0 !important;
		}
		a:hover, a span:hover {
			color: #20b8d1 !important;
			text-decoration: none;
		}
		.txtleftSection {
			padding: 5px 0;
			margin-bottom: 0;
			span {
				line-height: 16px !important;
			}
			
			img[src="/PortalApp/img/my_arc_lock.gif"], img[src="/PortalApp/img/dotNoLock.gif"] {
				display: inline-block;
				max-width: 10%;
			}
			a {
				display: inline-block;
				max-width: 90%;
				vertical-align: middle;
				padding: 0 0 0 10px;
			}
		}
	}
	
	#leftCol a:hover, #leftCol a:visited:hover, #rightCol a:hover, #rightCol a:visited:hover {
		text-decoration: none;
	}
	
	#dashboardSidebar .wlp-bighorn-theme-borderless {
		margin-top: 4px;
		margin-right: 30px; 
	}
	
}
 
	@media screen and (max-width: 1169px){
		#ARC_Home {
			width:100%;

				td, tr, table {
					display: block !important;
				}
				
				#dashboardSidebar, #lowerLeftColumn, td[width="37%"] {
					width: 100%; 
					margin: 0 !important;
				}
				
				#dashboardSidebar .wlp-bighorn-theme-borderless {
					margin: 0 11px 0 11px; 
				}	
				
				
			
		}
	}