@font-face {
  font-family: "Source Sans Pro";
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Regular.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Bold.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Black.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Regular.ttf");
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Bold.ttf");
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import 'bootstrap';

@font-face {
  font-family: 'icomoon';
  src: url("https://arcuatepi.arccorp.com/globalassets/myarc/fonts/icomoon.eot?3p9rfk");
  src: url("https://arcuatepi.arccorp.com/globalassets/myarc/fonts/icomoon.eot?3p9rfk#iefix") format("embedded-opentype"), url("https://arcuatepi.arccorp.com/globalassets/myarc/fonts/icomoon.ttf?3p9rfk") format("truetype"), url("https://arcuatepi.arccorp.com/globalassets/myarc/fonts/icomoon.woff?3p9rfk") format("woff"), url("https://arcuatepi.arccorp.com/globalassets/myarc/fonts/icomoon.svg?3p9rfk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;outline:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-twitter:before{content:"\e900" !important;}
.icon-linkedin:before{content:"\eaca" !important;}
.icon-search:before{content:"\e901" !important;}
.icon-menu:before{content:"\e902" !important;}
.icon-facebook:before{content:"\e903" !important;}
.icon-download:before{content:"\e904" !important;}
.icon-arc-logo:before{content:"\e905" !important;}
.icon-zoom:before{content:"\e906" !important;}
.icon-x-close:before{content:"\e907" !important;}
.icon-rightarrow-circle:before{content:"\e908" !important;}
.icon-right-arrow:before{content:"\e909" !important;}
.icon-quote:before{content:"\e90a" !important;}
.icon-airplane:before{content:"\e90b" !important;}
.icon-down-arrow:before{content:"\e90c" !important;}
.icon-up-arrow:before{content:"\e90d" !important;}
.icon-left-arrow:before{content:"\e90e" !important;}
.icon-file-pdf-etc:before{content:"\e90f" !important;}
.icon-training-video:before{content:"\e910" !important;}
.icon-upcoming-webinar:before{content:"\e910" !important;}
.icon-recorded-webinar:before{content:"\e910" !important;}
.icon-newsletter:before{content:"\e911" !important;}
.icon-check:before{content:"\e912" !important;}
.icon-radio:before{content:"\e913" !important;}
.icon-instagram:before{content:"\e914" !important;}
.icon-travelconnect-logo:before{content:"\e920" !important;}
.icon-iso_logo:before{content:"\e925" !important;}
