#pageFrameHdr #pageBody, #cse-search-box {
		height: 94px !important;
}

#pageFrameHdr #pageBody {
	background: #ffffff;
	line-height: 94px;
	max-width: 1170px;
	width: 100%;
}

#pageFrameHdr {
	max-width: 1170px;
	width: 100% !important;
	margin: 0 auto;

	
}

#pageFrameHdr::after {
  display: block;
  clear: both;
  content: "";
}

#pageFrameHdr #arcLogo {
	display: inline-block;
	height: auto;
	vertical-align:middle;
	text-align:left !important;
	width: auto;
	float: none !important;
}

#pageFrameHdr {

	.mobile-icon {  
		display: none;
		position: absolute;
		height: 94px;
		vertical-align: middle;
		line-height: 94px !important;
		
		&:hover {
			cursor: pointer;
		}
		
		img {
			position:relative;
			vertical-align: middle;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			padding-left: 20px;
		}
	}
	
}

#arcLogo a {
	display: inline-block;
	vertical-align: middle;
}

#arcLogo img {
	height: 28px;
	vertical-align: middle;
	border-right: 2px solid #189bb0;
	padding-right: 20px;
  margin-top: 0 !important;
}

#searchSubmit, #searchSubmit, #tableTop, #oneColumnMain{
	display: none !important;
}

#searchInput {
	position: relative;
	
}

#searchInput input[type="text"] {
	background: transparent;
	border: none;
	position: relative;
	padding-right: 40px;
	text-align: right;
	max-width: 200px !important;
}

#searchInput input[type="text"]:focus {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

#searchInput:after {
font-family: icomoon;
    content: "\e901";
    position: absolute;
    right: 0px;
    font-size: 28px;
    top: 8px;
		color: #333333;
} 

#topNav {
	display: none!important;
}

.wlp-bighorn-header {
	border-bottom: none;
	width: auto !important;
	position: relative;
}

.wlp-bighorn-header:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	height: 100px;
	width: 100%;
	opacity: 0.5;
	background: linear-gradient(-180deg, #dddddd, transparent 80%);
}

#nav2 form, #cse-search-box, #search, #search div {
	float: none !important;
}

#pageFrameHdr #nav2 {
	padding: 0 !important;
	text-align: right;
	margin-top:10px;
}

#nav2 div {
	display: inline-block !important;
}

#nav2 div a {
	font-size: 16px;
	font-family: "Source Sans Pro" !important;
	font-weight: 700 !important;
	color: #189bb0;
   margin-left: 20px !important;	
	 text-transform: uppercase;
}

#nav2 div a:hover {
	text-decoration: none;
}

#pageFrameHdr #search {
	height: 94px !important;
	line-height: 94px;
	float: right;
	padding: 0;
}

#pageFrameHdr #searchNav {
	width: auto;
	display: inline-block;
	height: 94px;
}



/* footer */
.wlp-bighorn-footer {
	position: relative;
	width: 100%;
	background-color: #242039;
}

.wlp-bighorn-footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background: url(https://www2.arccorp.com/static/images/colorbar-large-flip.svg) center top repeat;
}

.wlp-bighorn-footer #footer {
	padding-top:20px;
	padding-bottom:20px;
	max-width: 1170px;
	width: 100%;
}

#footerLink, #footerLink a, #footerCopy {
		font-size: 14px !important;
		font-family: "Source Sans Pro", "Roboto Slab", arial, sans-serif !important;
		padding-left: 0 !important;
}

#footer { 
	#footerLink {
		color: #1a9cb1;
		margin-left: 20px;
		
		a {
			color: #1a9cb1;
			font-weight: 700;
			margin: 0 7px;
		}
	}
}

.wlp-bighorn-footer #footerCopy {
	padding: 20px 0;
	display: inline-block;
}

#tableBottom {
	display: none !important;
}

.productName {
	display: inline-block;
	font-weight: 700;
	height: 100%;
	vertical-align: middle;
	
	h2 {
		margin: 0 0 0 20px !important;
		vertical-align: middle;
		font-size: 24px !important;
		color: #316677;
		line-height: 94px !important;
	}
	
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 15px;
		display: inline-block;
		vertical-align: middle;
}

#footer ul li {
	display: inline-block;
	vertical-align: middle;
}

#footer .footer-links-social li a {
    display: block;
    width: 50px;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
		
		&:hover {
			text-decoration: none;
		}
}

#footer .footer-links-social li a.icon-iso_logo:before {

    font-size: 36.8px;

}

#footer .footer-links-social li a::before {
		color: #ffffff;
    font-size: 22px;
}

.icon-twitter, .icon-facebook, .icon-instagram {
	padding:10px;
}

#footer .footer-links-social li a.icon-twitter {
	margin-left: 5rem;
}

/* media queries */
@media screen and (max-width: 1200px) {
	.wlp-bighorn-footer #footer {
		padding-left: 20px;
		padding-right: 20px;
	}
	body #pageFrameHdr {
		padding-right: 25px;
		padding-left: 25px;
	}
}

@media screen and (max-width: 768px){
	#pageFrameHdr #arcLogo {
		text-align: center !important;
	}
	#pageFrameHdr #searchNav {
		display: none;
		width: 100%;
		height: auto !important;
	}
	#pageFrameHdr #nav2 {
		text-align: center;
	}
	#pageFrameHdr #pageBody {
		text-align: center;
	}
	#pageFrameHdr #search {
		background: #242039;
		height: auto !important;
	}
	body #pageFrameHdr {
		padding-right: 0;
		padding-left: 0;
	}
	#nav2 div {
		display: block !important;
		padding: 2.375rem 4.375rem 2.375rem 1.875rem !important;
		text-align: left;
		margin-left: 0 !important;
		border-top: 3px solid #1d1933;
	}
	#search #nav2  a {
		color: #189bb0;
	}
	#cse-search-box {
		height:auto !important;
	}
	#pageFrameHdr .mobile-icon {
		display:block;
	}
	#footer { 
		#footerLink {
			display: block;
			margin-left: 0px;
			text-align: center;
			padding: 10px;
		}
	}
	#footer .footer-links-social li a {
		width: 40px;
	}
	#footer ul {
		padding-left: 0;
	}
	#myARCrightCol {
		margin-top: 40px !important;
	}
	#searchInput {
		display: none;
	}
}

@media screen and (min-width: 768px){
	footer .footer-links-social li a, footer .add-content li a {
			width: 2.375rem;
			height: 2.375rem;
	}
}