.marketingContainer {

}

.dashboardPortlet {
	h2 {
		margin-top: 0;
	}
}

.loginPortlet2 {
	padding: 60px 0; 
} 

.loginPortlet1 {
	color: #ffffff;
	margin: 0 auto;
	h1 {
		margin-bottom: 2rem !important
		
	}
}
