#FindAdmin_1, #ARC_ForgotPassword, #MyARC_ForgotUserName {
	#myARCleftCol {
		position: relative;
	}
}

#ARC_ForgotPassword {
	#myARCSQABodyB {
		max-width: 452px;
		width: 100%;
		padding: 20px; 
		border: none;
	}
	#myARCSQABot {
		display: none;
	}
	.myarcStylLeftCol { 
		background: #ffffff;
	}
}

#Login_1, #ARC_MigrateTool, #ViewAllAdmin_1 {  
	position: relative; 
} 

#Login_1 {
	background: #ffffff;
	margin-top: 60px;
	padding-bottom: 20px;
}

#ARC_MigrateTool  { 
	padding-left: 0;
	padding-right: 0;
	
	#conthead, #spgcontent {
		width: 100%;
	}
	
	#spgcontent {
		margin: 0; 
		
		div {
			width: auto !important; 
		}
	}
	
}

#ARCGateway_Book .supplementalSection {
	background: #ffffff;
	padding: 20px; 
}

#ARCGateway_Book #ARC_Login .supplementalSection {
	background: none; 
}

.supplementalSection {
	.myARClabel {
		color: #555555;
		margin-bottom:10px; 
		float: none;
		height: auto; 
	}
}

#LeftPane_2 {
	margin-right: 15px;	
}
 
.wlp-bighorn-page {
		input[type="button"], input[type="submit"], input[type="button"].b102x24LtBl, input[type="submit"].b102x24LtBl{
			background: #189bb0 !important;
			background-image: none;
			padding: 10px !important;
			color: #ffffff !important;
			text-transform: uppercase;
			height: auto !important;
			width: auto !important; 
			cursor: pointer;
			font-size: 14px;
			font-family: "Source Sans Pro", "Roboto Slab", arial, sans-serif;
			font-weight: 600;
			border: none !important; 
			border-radius: 4px;
			margin-right: 7px;
			min-width: 155px;
	}
	input[type="submit"]:hover , input[type="button"]:hover, input[type="button"].b102x24LtBl:hover, input[type="submit"].b102x24LtBl:hover{
		background: #20b8d1 !important;  
		text-decoration: none; 
	}
}

#myARCLoginTopLong, #myARCLoginBotBlLong { 
	display: none !important;
} 

#myARCleftCol #myARCLoginBodyTLong, #myARCLoginBodyT, #myARCLoginBodyB, #myARCLoginBodyTLong, #myARCSQABodyB{ 
	background:#ffffff !important;
	border: none; 
}

#myARCleftCol #myARCLoginBodyTLong h2.yourAcct{
	color:#555555 !important;
}

#MyARC_FindAdmin #myARCleftCol, #ARC_ForgotPassword #myARCleftCol, #MyARC_ForgotUserName #myARCleftCol { 
	margin: 0 !important;
	
} 

#MyARC_FindAdmin, #ARC_ForgotPassword, #MyARC_ForgotUserName {
	#dashboardSidebar .supplementalSection { 
		padding: 0px; 
	}
}

/* edit account */
#ARC_EditAccount {
	#conthead {
		padding-left: 25px !important;
	}
}

#ARC_EditAccount, #ARC_ViewAllAdmin {
	#dashboardSidebar .supplementalSection {
		margin-bottom: 0;
	}
}

#ARC_EditAccount, #ARC_ViewAllAdmin, #MyARC_Registration   {
	.supplementalSection {
		background: #ffffff;
		
		margin-top: 60px; 
		position: relative;
		
		& + div {
			background: #ffffff;
			position: relative;  
			margin-bottom: 60px; 
		}
		
	}
	
	.stylCol {
		float: none; 
	}
	
	#conthead {
		float: none;
		display:block;
		
		img {
			display: none;
		}
		
	}
	
	#editFrm {
		background: #ffffff;
		position: relative !important;
		min-height: 800px;
		display: block !important;
	}
	
	#spgcontent {
		float: none;
		width: auto; 
		display: block;
		padding: 0 25px !important;
	}
	
	#Breadcrumb_1, #Breadcrumb_2, #Breadcrumb_3, #Breadcrumb_4, #Breadcrumb_5, #Breadcrumb_6  {
		position: relative;
	}
	
	#breadcrumb {
		height: auto; 
		margin: 0 0 0 15px !important;
		font-weight: 700;
		font-size: 14px !important; 
	}
	
	label {
		height: auto;
		padding: 0px 5px 0px 0px;  
	}
	
	form input[type="password"], form input[type="text"], form select { 
		width: 250px !important;
		margin-bottom:  5px;
	}
	
	input[type="submit"].b122x24s {
		margin: 0 !important;
	}
	
	#frmWPhoneExt {
		width: 75px !important; 
	}
	
	.categoryitems {
		border-top: 2px solid #eaeaea;
		padding: 10px;
	}
	
	.csubDiv {
		width: 100%; 
	} 
	.categoryitems.csubDiv #divMiddle + p {     
		clear: both; 
	}
	
}

form , #dashboardSidebar, .wlp-bighorn-book-content { 

	.popupframe {
		background: #ffffff !important;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		padding-bottom: 16px;
	}
	.popupbody1, .popupbody2{
		border:none;
		background: none;
	}
	
	.popupbody2 {
		padding: 25px; 
	}
	
	.popupframeTM {
		height: auto; 
		padding:12px;
		width: 455px;
		.popuphead {
			font-size: 26px !important; 
		}
	}
	
	.popupframeTR {
		height: 56px;
    width: 40px;
		 
		&:after {
			font-family: icomoon;
			content: "\e909";
			position: absolute;
			right: 12px;
			font-size: 20px;
			top: 12px;
			color: #333333;
		}
		
	}
	
	
	
	.popupframeTL, .popupframeTR, .popupframeTM {
		background: none;
		border-bottom: 1px solid #eaeaea;
	}
	
	.popupframeBL, .popupframeBM, .popupframeBR {
		display: none;
	}
}

#dashboardSidebar{
	.supplementalSection {
		margin-top: 60px;
		margin-bottom: 25px;
		padding: 20px;   
	}
}

#portletInstance_2 {
	 background: #ffffff;
   padding: 20px;
	
}

#ARC_ForgotPassword {
	#alertBox + div {
		margin: 0 !important; 
	}
	h2.yourAcct {
		color: #666666;
	}
	div {
		color: #666666 !important;
	}
}  

.heading.arcH1 {
	color: #189bb0; 
}

#SelfRegistration_1 .wlp-bighorn-window-content {
	padding: 40px; 
}

.alertParent {
	float: none !important;
	margin: none !important; 
}

#ARC_ViewAllAdmin{
	table.datatable thead th, .tblAdmin a {
		background: #189bb0;
		color: #ffffff !important; 
	}
	table.datatable td, table.datatable th {
		border-bottom: 1px solid #dadada; 
	}
}
  
#ARC_Login {
	.wellWelcomePage{
		left: auto;
		width: auto;
		border: none;
		box-shadow: none;
		margin-top: 0;
		padding: 0 20px;
		.bodyText {
			height: auto;
		}
		input[type="submit"] {
			margin-left: 0 !important; 
		}
		.arcH1 {
			height: auto;
		}
	}
}
 /*NK - fixing My ARC Terms of Use Update page*/
#Login_1 .wlp-bighorn-window-content{
	padding:50px;
}
#Login_1 .wlp-bighorn-window-content #spgcontent{
width:auto;
}
