.spgcontent {
	.alertTopLong, .alertBotLong {
		display: none;
	}
	
	.alertframeLong {
		width: 100%;
		background: #fce4bd;
	}
	
	.alertTxtLong {
		background: none;
		border: none;
		float: none;
		width: 1170px;
		margin: 0 auto;
	} 
}